{% extends "ap.j2" %}

{% block introduction %}
<p>Dit document beschrijft een <strong>applicatieprofiel</strong>, in dit geval <strong>{{ title }}</strong>.
Het applicatieprofiel is ontwikkeld binnen het project
<a href="http://lokaalbestuur.vlaanderen.be/lokale-besluiten-als-gelinkte-open-data">Lokale Besluiten als Gelinkte
Open Data</a> en laat toe om de notulen en besluiten van een bestuursorgaan gelinkt op te maken,
gelinkt authentiek te bewaren en gelinkt te ontsluiten.
Het beantwoordt de vraag over hoe het corresponderende domeinmodel in de praktijk kan toegepast worden.
Daarbij worden de beperkingen (kardinaliteit, codelijsten) toegelicht en de overeenkomstige (RDF) termen opgelijst.
</p>
{% endblock %}


{% block license %}
<p>Deze specificatie van
<a href="https://www.vlaanderen.be/nl/contact/adressengids/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">
Agentschap Binnenlands Bestuur</a> is gepubliceerd onder de
<a href="https://overheid.vlaanderen.be/sites/default/files/documenten/ict-egov/licenties/hergebruik/modellicentie_gratis_hergebruik_v1_0.html">
Modellicentie Gratis Hergebruik - v1.0</a>.</p>
{% endblock %}



