{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>
OSLO-Persoon richt zich op het beschrijven van een natuurlijk persoon, d.w.z. een fysiek persoon en geen organisatie. Natuurlijke personen hebben een eigen rechtspersoonlijkheid, deze is niet kunstmatig zoals bij rechtspersonen.
</p><br/><p>
Het vocabularium is een uitbreiding op bestaande RDF-vocabularia over personen. Die zijn immers louter bedoeld om een persoon te identificeren (bv. het <a class="c2" href="https://joinup.ec.europa.eu/node/42440">ISA Core Person Vocabulary</a> dat o.a. naam, geslacht, geboortedatum modelleert) of ze zijn ontworpen voor specifieke toepassingen (bv. <a class="c2" href="http://xmlns.com/foaf/spec/">FOAF</a> dat zich vnl. focust op relaties tussen personen).
 </p>
 {% endblock %}
