{% extends "vocabularynlv2.j2" %}

{% block summary %}
<P>Een adres is in de eerste plaats een op zichzelf staand object met een eigen identificator en levensloop. Dat geldt ook voor adrescomponenten zoals straatnaam en gemeentenaam. Het adresobject dat zo ontstaat noemen we een gestructureerd adres. Het is het adres zoals het wordt beheerd in adresregisters.</P>
<BR/>
<P>Voor Adresvoorstelling werd door ISA al <A HREF="https://www.w3.org/ns/locn">een RDF-definitie</A> uitgewerkt, gebaseerd op de het datatype AddressRepresentation van INSPIRE. OSLO-Adres voegt daar enkele subproperties (specialisaties van ISA definities) aan toe die specifiek zijn voor Belgische adressen (bv. busnummer). Misleidend is wel dat ISA deze adresvoorstelling Address noemt.</P>
{% endblock %}
