{% extends "vocabularynlv2.j2" %}

{% block summary %}
<P>Een adres is in de eerste plaats een op zichzelf staand object met een eigen identificator en levensloop. Dat geldt ook voor adrescomponenten zoals straatnaam en gemeentenaam. Het adresobject dat zo ontstaat noemen we een gestructureerd adres. Het is het adres zoals het wordt beheerd in adresregisters.</P>
<BR>
{% endblock %}
