<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xml:lang="nl" lang="nl" dir="ltr" typeof="bibo:Document " about="" property="dcterms:language" content="nl" prefix="dcterms: http://purl.org/dc/terms/ bibo: http://purl.org/ontology/bibo/ schema: http://schema.org/ w3p: http://www.w3.org/2001/02pd/rec54#" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>{{ record['overview']['title'] }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://dij151upo6vad.cloudfront.net/2.latest/css/vlaanderen-ui.css" />
  <link rel="stylesheet" href="https://dij151upo6vad.cloudfront.net/2.latest/css/vlaanderen-ui-corporate.css" />

  <link rel="icon" sizes="192x192" href="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/icon-highres-precomposed.png" />
  <link rel="apple-touch-icon" href="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/touch-icon-iphone-precomposed.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/touch-icon-ipad-precomposed.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/touch-icon-iphone-retina-precomposed.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/touch-icon-ipad-retina-precomposed.png" />

  <meta name="msapplication-square70x70logo" content="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/tile-small.png" />
  <meta name="msapplication-square150x150logo" content="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/tile-medium.png" />
  <meta name="msapplication-wide310x150logo" content="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/tile-wide.png" />
  <meta name="msapplication-square310x310logo" content="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/tile-large.png" />
  <meta name="msapplication-TileColor" content="#FFE615" />
</head>

<body>
  <div style="min-height:44px;;" id="vlaanderen-header">
    <!-- insert your global header here -->
    <script type="text/javascript" src="https//widgets.vlaanderen.be/widget/live/5ecf33a0a922428cb9d944c55362ed15"></script>
    <!-- end global header-->
  </div>

  <!-- Start page content -->
  <div class="page">
    <div class="layout layout--normal">
      <div class="skiplink">
        <a rel="nofollow noreferrer" href="#main">Overslaan en naar de algemene inhoud gaan</a>
      </div>
    </div>
    <div class="page">
    <div class="region">
        <div class="layout layout--normal">
            <div class="grid u-hr">
                <div class="col--9-12 col--1-1--s">
                    <h1 class="h1">{{ record['overview']['title'] }}</h1>
                    <div class="head" role="contentinfo" id="respecHeader">
                        <dl>
                        <dt>Laatste aanpassing</dt>
                        <dd>{{ now.strftime("%Y-%m-%d") }}</dd>

                        {% set authors = contributors|selectattr("role", "equalto", "A")|sort(attribute='last_name') %}
                        {% if authors %}
                        <dt>Auteurs</dt>
                        {% for author in authors %}
                        <dd inlist="" rel="foaf:maker" class="p-author h-card vcard">
                            <span typeof="foaf:Person">
                            <span class="p-name fn" property="foaf:lastName">{{ author['last_name'] }}</span>,
                            <span class="p-name fn" property="foaf:firstName">{{ author['first_name'] }}</span>
                            {% if author['affiliation_website'] and author['affiliation_name'] %}
                            - <a href="{{ author['affiliation_website'] }}" class="p-org org h-org h-card" rel="foaf:workplaceHomepage">{{ author['affiliation_name'] }}</a>
                            {% elif author['affiliation_name'] %}
                            - <span class="p-org org h-org h-card">{{ author['affiliation_name'] }}</span>
                            {% endif %}
                            {% if author['email'] %}
                            - <span class="ed_mailto"><a href="mailto:{{ author['email'] }}" rel="foaf:mbox" class="u-email email">{{ author['email'] }}</a></span>
                            {% endif %}
                            </span>
                        </dd>
                        {% endfor %}
                        {% endif %}


                        {% set editors = contributors|selectattr("role", "equalto", "E")|sort(attribute='last_name') %}
                        {% if editors %}
                        <dt>Editors</dt>
                        {% for editor in editors %}
                        <dd inlist="" rel="bibo:editor" class="p-author h-card vcard">
                            <span typeof="foaf:Person">
                            <span class="p-name fn" property="foaf:lastName">{{ editor['last_name'] }}</span>,
                            <span class="p-name fn" property="foaf:firstName">{{ editor['first_name'] }}</span>
                            {% if editor['affiliation_website'] and editor['affiliation_name'] %}
                            - <a href="{{ editor['affiliation_website'] }}" class="p-org org h-org h-card" rel="foaf:workplaceHomepage">{{ editor['affiliation_name'] }}</a>
                            {% elif editor['affiliation_name'] %}
                            - <span class="p-org org h-org h-card">{{ editor['affiliation_name'] }}</span>
                            {% endif %}
                            {% if editor['email'] %}
                            - <span class="ed_mailto"><a href="mailto:{{ editor['email'] }}" rel="foaf:mbox" class="u-email email">{{ editor['email'] }}</a></span>
                            {% endif %}
                            </span>
                        </dd>
                        {% endfor %}
                        {% endif %}


                        {% set pure_contributors = contributors|selectattr("role", "equalto", "C")|sort(attribute='last_name') %}
                        {% if pure_contributors %}
                        <dt>Medewerkers</dt>
                        {% for contributor in pure_contributors %}
                        <dd inlist="" rel="dcterms:contributor" class="p-author h-card vcard">
                            <span typeof="foaf:Person">
                            <span class="p-name fn" property="foaf:lastName">{{ contributor['last_name'] }}</span>,
                            <span class="p-name fn" property="foaf:firstName">{{ contributor['first_name'] }}</span>
                            {% if contributor['affiliation_website'] and contributor['affiliation_name'] %}
                            - <a href="{{ contributor['affiliation_website'] }}" class="p-org org h-org h-card" rel="foaf:workplaceHomepage">{{ contributor['affiliation_name'] }}</a>
                            {% elif contributor['affiliation_name'] %}
                            - <span class="p-org org h-org h-card">{{ contributor['affiliation_name'] }}</span>
                            {% endif %}
                            {% if contributor['email'] %}
                            - <span class="ed_mailto"><a href="mailto:{{ contributor['email'] }}" rel="foaf:mbox" class="u-email email">{{ contributor['email'] }}</a></span>
                            {% endif %}
                            </span>
                        </dd>
                        {% endfor %}
                        {% endif %}
                    </dl>
                    </div>
                </div>
             </div>
        </div>
    </div>
    </div>
    <div id="main" itemprop="mainContentOfPage" role="main" tabindex="-1" class="main-content">
      <div class="region">
        <div class="layout layout--normal">
            <div class="grid">
                <div class="col--9-12 col--1-1--s">
                <div class="introduction typography">
                {% block introduction %}
                            <p>Dit document beschrijft een <strong>applicatieprofiel</strong> voor <strong>{{ record['overview']['package'] }}</strong>, in dit geval <strong>{{ record['overview']['title'] }}</strong>.
                            <!--Een applicatieprofiel is een specificatie die bestaande termen hergebruikt van verschillende basis-standaarden en daar meer specificiteit aan toevoegt.-->
                            <!-- Daarbij wordt het gebruik van de termen toegelicht voor de interbestuurlijke uitwisseling van overheidsinformatie.-->
                            Dit applicatieprofiel beantwoordt de vraag over hoe het corresponderende domeinmodel in de praktijk kan toegepast worden.
                            Daarbij worden de beperkingen (kardinaliteit, codelijsten) toegelicht en de overeenkomstige (RDF) termen opgelijst.
                            </p>
                {% endblock %}
                </div>
                </div>
            </div>
        </div>
      </div>
    
    <div class="region region--no-space-top">
    <div class="layout layout--normal">
    <section class="introductory" id="sotd" typeof="bibo:Chapter" resource="#ref" rel="bibo:Chapter">

    <h2 class="h2" aria-level="1" role="heading" id="h2_sotd">Status van dit document</h2>
    {% block status %}
    <p><em>Deze sectie beschrijft de status van dit document op het moment van publicatie. Het kan zijn dat er ondertussen al nieuwere versies zijn uitgebracht.</em></p>
    <p>
      Dit applicatieprofiel dient om het specifieke gebruik van de entitieten relevant voor de beschreven applicatie te verduidelijken.
    </p>
    {% endblock %}
    </section>

    </div>
    </div>

      <div class="region region--no-space-top">
          <div class="layout layout--normal">
            <h2 class="h2">Licentie</h2>
            {% block license %}
            <p><span rel="dct:type" property="dct:title" href="http://purl.org/dc/dcmitype/Text" xmlns:dct="http://purl.org/dc/terms/">Deze specificatie</span> van <a rel="cc:attributionURL" property="cc:attributionName" href="http://vlaanderen.be/informatievlaanderen" xmlns:cc="http://creativecommons.org/ns#">Informatie Vlaanderen</a> is gepubliceerd onder de <a href="https://overheid.vlaanderen.be/sites/default/files/documenten/ict-egov/licenties/hergebruik/modellicentie_gratis_hergebruik_v1_0.html" rel="license">"Modellicentie Gratis Hergebruik - v1.0"</a>.</p>
            {% endblock %}
          </div>
      </div>
      <div class="region region--no-space-top">
        <div class="layout layout--normal">
        <div class="grid">
        <div class="col--9-12 col--1-1--s typography">
        <h2 class="h2" id="conformance" aria-level="1" role="heading">Conformiteit</h2>
        {% block conformance %}
        <p>De conformiteit voor applicatieprofielen is <a href="../../begeleidend/applicatieprofielen/conformiteit">hier</a> te vinden.</p>
        {% endblock %}
        </div>
        </div>
    </div>
    </div>
      <div class="region region--no-space-top">
          <div class="layout layout--normal">
            <h2 class="h2">Overzicht</h2>
            <div class="grid">
              <div class="col--9-12 col--1-1--s typography">
                    <div class="region region--no-space-top">
                        <p> In dit document wordt correct gebruik van de volgende entiteiten toegelicht:
                            <br />
                            |
                            {% set entities = record['overview']['entities'].split(",") %}
                            {% for entity in entities %}
                            <a href="#{{ entity }}">{{ entity }}</a> |
                            {% endfor %}
                         </p>
                    </div>
                    {% if record['overview']['dtypes'] %}
                    <div class="region region--no-space-top">
                        <p> In dit document worden de volgende datatypes toegelicht:
                            <br />
                            |
                            {% set datatypes = record['overview']['dtypes'].split(",") %}
                            {% for dtype in datatypes %}
                            <a href="#{{ dtype }}">{{ dtype }}</a> |
                            {% endfor %}
                         </p>
                    </div>
                    {% endif %}
              </div>
            </div>
          </div>
      </div>
      <div class="region region--no-space-top">
          <div class="layout layout--normal">
		    {% set image_name = record['overview']['title'][:-3].lower().replace(' basis', '').replace(' publicatie', '') %}
			<a href="./../../../cms/ap/{{image_name}}/{{image_name}}.jpg" target="_blank">
              <img src="./../../../cms/ap/{{ image_name }}/{{ image_name }}.jpg" />
			</a>
          </div>
      </div>
      <div class="region region--no-space-top">
        <div class="layout layout--normal">
      	  <h2 class="h2">Entiteiten</h2>
        </div>
      </div>
      {% for entity in entities %}
      <div class="region region--no-space-top">
          <div class="layout layout--normal">
            <h3 class="h3" id="{{ entity }}"><a href="{{ record[entity]['namespace'] }}{{ record[entity]['localname'] }}" data-toggle="tooltip" data-content="{{ record[entity]["namespace"] }}{{ record[entity]["localname"] }}" data-placement="right">{{ entity }}</a></h3>
            <div class="grid">
              <div class="col--9-12 col--1-1--s typography">
                    <div class="region region--no-space-top">
					<dl>
						<dt>Beschrijving</dt><dd>{{ record[entity]['ap-definition-nl'] }}</dd>
						{% if record[entity]['ap-usagenote-nl'] %}
							<dt>Gebruik</dt><dd>{{ record[entity]['ap-usagenote-nl'] }}</dd>
						{% endif %}
						<dt>Eigenschappen</dt>
						{% set attributelist = record[entity]['attribute_displaynames'].split(",") %}
						{% if record[entity]['attributes'] %}
							<dd>Voor deze entiteit zijn de volgende eigenschappen gedefinieerd: 
							{%- for attribute in attributelist %}
								<a href="#{{ entity }}:{{attribute}}">{{ attribute }}</a>{% if not loop.last %}, {% endif %}
							{%- endfor %}.</dd>
						{% else %}
							<dd>Voor deze entiteit zijn geen eigenschappen gedefinieerd.</dd>
						{% endif %}
					</dl>
					</div>
                    {% if record[entity]['attributes'] %}
                    {% set attributes = record[entity]['attributes'].split(",") %}
                    <div class="u-table-overflow">
                        <table class="data-table">
                          <thead>
                          <tr class="data-table__header">
                            <th class="data-table__header-title--sortable data-table__header-title--sortable-active">Eigenschap</th>
                            <th class="data-table__header-title--sortable">Verwacht Type</th>
                            <th class="data-table__header-title--sortable">Kardinaliteit</th>
                            <th class="data-table__header-title--sortable">Beschrijving</th>
                            <th class="data-table__header-title--sortable">Gebruik</th>
                            <th class="data-table__header-title--sortable">Codelijst</th>
                          </tr>
                          </thead>

                          <tbody class="supertype">
                          {% for attribute in attributes %}
                          {% set attribute_detail = record[entity + ':' + attribute] %}
                          {% if attribute_detail  %}
                          <tr id="{{ entity }}:{{ attribute_detail["ap-label-nl"] }}" typeof="rdfs:Property" resource="{{ attribute_detail["namespace"] }}{{ attribute_detail["localname"] }}">
                            <td>
                            <code property="rdfs:label">
                                <a href="{{ attribute_detail["namespace"] }}{{ attribute_detail["localname"] }}" data-toggle="tooltip" data-content="{{ attribute_detail["namespace"] }}{{ attribute_detail["localname"] }}" data-placement="right">
                                {{ attribute_detail["ap-label-nl"] }}
                                </a>
                            </code>
                            </td>
                            <td><a href="{{ attribute_detail["range"] }}" data-toggle="tooltip" data-content="{{ attribute_detail["range"] }}" data-placement="right">{{ attribute_detail["ea-range"] }}</a></td>
                            <td>{{ attribute_detail["min card"] }} ... {{ attribute_detail["max card"] }}</td>
                            <td property="rdfs:comment">{{ attribute_detail["ap-definition-nl"] }}</td>
                            <td property="vann:usageNote">{{ attribute_detail["ap-usagenote-nl"] }}</td>
                            <td>{% if attribute_detail["ap-codelist"] %}<a href="{{ attribute_detail["ap-codelist"] }}">Link</a>{% endif %}</td>
                          </tr>
                          {% endif %}
                          {% endfor %}
                          </tbody>
                        </table>
                        {% endif %}
                    </div>
              </div>
            </div>
          </div>
      </div>
      {% endfor %}

      {% if record['overview']['dtypes'] %}
      <div>
      <div class="region region--no-space-top">
          <div class="layout layout--normal">
            <h2 class="h2">Datatypes</h2>
          </div>
      </div>
      {% for entity in datatypes %}
      <div class="region region--no-space-top">
          <div class="layout layout--normal">
            <h3 class="h3" id="{{ entity }}"><a href="{{ record[entity]['namespace'] }}{{ record[entity]['localname'] }}" data-toggle="tooltip" data-content="{{ record[entity]["namespace"] }}{{ record[entity]["localname"] }}" data-placement="right">{{ entity }}</a></h3>
            <div class="grid">
              <div class="col--9-12 col--1-1--s typography">
                    <div class="region region--no-space-top">
                    <dl>
						<dt>Beschrijving</dt><dd>{{ record[entity]['ap-definition-nl'] }}</dd>
						{% if record[entity]['ap-usagenote-nl'] %}
							<dt>Gebruik</dt><dd>{{ record[entity]['ap-usagenote-nl'] }}</dd>
						{% endif %}
						<dt>Eigenschappen</dt>
						{% set attributelist = record[entity]['attribute_displaynames'].split(",") %}
						{% if record[entity]['attributes'] %}
							<dd>Voor dit datatype zijn de volgende eigenschappen gedefinieerd: 
							{%- for attribute in attributelist %}
								<a href="#{{ entity }}:{{attribute}}">{{ attribute }}</a>{% if not loop.last %}, {% endif %}
							{%- endfor %}.</dd>
						{% else %}
							<dd>Voor dit datatype zijn geen eigenschappen gedefinieerd.</dd>
						{% endif %}
					</dl>
					</div>
                    {% if record[entity]['attributes'] %}
                    {% set attributes = record[entity]['attributes'].split(",") %}
                    <div class="u-table-overflow">
                        <table class="data-table">
                          <thead>
                          <tr class="data-table__header">
                            <th class="data-table__header-title--sortable data-table__header-title--sortable-active">Eigenschap</th>
                            <th class="data-table__header-title--sortable">Verwacht Type</th>
                            <th class="data-table__header-title--sortable">Kardinaliteit</th>
                            <th class="data-table__header-title--sortable">Beschrijving</th>
                            <th class="data-table__header-title--sortable">Gebruik</th>
                            <th class="data-table__header-title--sortable">Codelijst</th>
                          </tr>
                          </thead>

                          <tbody class="supertype">
                          {% for attribute in attributes %}
                          {% set attribute_detail = record[entity + ':' + attribute] %}
                          {% if attribute_detail  %}
                          <tr id="{{ entity }}:{{ attribute_detail["ap-label-nl"] }}" typeof="rdfs:Property" resource="{{ attribute_detail["namespace"] }}{{ attribute_detail["localname"] }}">
                            <td>
                            <code property="rdfs:label">
                                <a href="{{ attribute_detail["namespace"] }}{{ attribute_detail["localname"] }}" data-toggle="tooltip" data-content="{{ attribute_detail["namespace"] }}{{ attribute_detail["localname"] }}" data-placement="right">
                                {{ attribute_detail["ap-label-nl"] }}
                                </a>
                            </code>
                            </td>
                            <td><a href="{{ attribute_detail["range"] }}" data-toggle="tooltip" data-content="{{ attribute_detail["range"] }}" data-placement="right">{{ attribute_detail["ea-range"] }}</a></td>
                            <td>{{ attribute_detail["min card"] }} ... {{ attribute_detail["max card"] }}</td>
                            <td property="rdfs:comment">{{ attribute_detail["ap-definition-nl"] }}</td>
                            <td property="vann:usageNote">{{ attribute_detail["ap-usagenote-nl"] }}</td>
                            <td>{% if attribute_detail["ap-codelist"] %}<a href="{{ attribute_detail["ap-codelist"] }}">Link</a>{% endif %}</td>
                          </tr>
                          {% endif %}
                          {% endfor %}
                          </tbody>
                        </table>
                        {% endif %}
                    </div>
              </div>
            </div>
          </div>
      </div>
      {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  <!-- End page content -->


  <div id="vlaanderen-footer">
    <!-- insert your Vlaanderen-footer-code here -->
    <script type="text/javascript" src="https://widgets.vlaanderen.be/widget/live/d6d44414e7c242f396ab6da8f8da5198"></script>
    <!-- End global footer-->
  </div>

  <script src="https://dij151upo6vad.cloudfront.net/2.latest/js/vlaanderen-ui.js"></script>

    <style>
      @media screen {  /* hide from IE3 */
        a[href]:hover { background: #ffa }
      }

      p {
        text-align: justify;
      }

      tr:nth-child(even) td     { background-color:#eee; }

      dt, dd { margin-top: 0; margin-bottom: 0 } /* opera 3.50 */
      dt { font-weight: bold }

      pre, code { font-family: monospace } /* navigator 4 requires this */

      em {
            font-style: italic;
      }

      img {
         width: 100%;
      }

      .tooltip {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 800;
        display: none;
        max-width: 128rem;
        background: #fff;
        border: 1px solid #ccc;
        margin-bottom: 1.5rem;
        text-align: center;
        font-size: 1.4rem;
        color: #000;
        background-clip: padding-box;
      }
    </style>
</body>

</html>