<?xml version="1.0" encoding="UTF-8"?>
<rdf:RDF
  xmlns:cc="http://creativecommons.org/ns#"
  xmlns:dcat="http://www.w3.org/ns/dcat#"
  xmlns:dcterms="http://purl.org/dc/terms/"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
  xmlns:gsp="http://www.opengis.net/ont/geosparql#"
  xmlns:locn="http://www.w3.org/ns/locn#"
  xmlns:owl="http://www.w3.org/2002/07/owl#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:rec="http://www.w3.org/2001/02pd/rec54#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:schema="http://schema.org/"
  xmlns:sf="http://www.opengis.net/ont/sf#"
  xmlns:sioc="http://rdfs.org/sioc/ns#"
  xmlns:skos="http://www.w3.org/2004/02/skos/core#"
  xmlns:vann="http://purl.org/vocab/vann/"
  xmlns:voaf="http://purl.org/vocommons/voaf#"
  xmlns:vs="http://www.w3.org/2003/06/sw-vocab-status/ns#"
  xmlns:wdrs="http://www.w3.org/2007/05/powder-s#"
>
  <owl:Ontology rdf:about="http://data.vlaanderen.be/ns/{{ voc_name }}">
    <dcterms:license rdf:resource="https://overheid.vlaanderen.be/sites/default/files/documenten/ict-egov/licenties/hergebruik/modellicentie_gratis_hergebruik_v1_0.html" />
    <dcterms:mediator rdf:parseType="Resource">
      <foaf:name>Data Vlaanderen</foaf:name>
      <foaf:homepage rdf:resource="https://data.vlaanderen.be"/>
      <foaf:mbox rdf:resource="mailto:oslo@kb.vlaanderen.be"/>
    </dcterms:mediator>
    {% for editor in contributors|selectattr("role", "equalto", "E") %}
    <rec:editor rdf:parseType="Resource">
      <rdf:type rdf:resource="http://www.w3.org/ns/person#Person"/>
      <foaf:lastName>{{ editor['last_name'] }}</foaf:lastName>
      <foaf:firstName>{{ editor['first_name'] }}</foaf:firstName>
      {% if editor['email'] %}
      <foaf:mbox rdf:resource="mailto:{{ editor['email'] }}" />
      {% endif %}
      <schema:affiliation rdf:parseType="Resource">
        <foaf:name>{{ editor['affiliation_name'] }}</foaf:name>
        <foaf:homepage rdf:resource="{{ editor['affiliation_website'] }}" />
      </schema:affiliation>
    </rec:editor>
    {% endfor %}

    {% for author in contributors|selectattr("role", "equalto", "A") %}
    <foaf:maker rdf:parseType="Resource">
      <rdf:type rdf:resource="http://www.w3.org/ns/person#Person"/>
      <foaf:lastName>{{ author['last_name'] }}</foaf:lastName>
      <foaf:firstName>{{ author['first_name'] }}</foaf:firstName>
      {% if author['email'] %}
      <foaf:mbox rdf:resource="mailto:{{ author['email'] }}" />
      {% endif %}
      <schema:affiliation rdf:parseType="Resource">
        <foaf:name>{{ author['affiliation_name'] }}</foaf:name>
        <foaf:homepage rdf:resource="{{ author['affiliation_website'] }}" />
      </schema:affiliation>
    </foaf:maker>
    {% endfor %}

    {% for contributor in contributors|selectattr("role", "equalto", "C") %}
    <dcterms:contributor rdf:parseType="Resource">
      <rdf:type rdf:resource="http://www.w3.org/ns/person#Person"/>
      <foaf:lastName>{{ contributor['last_name'] }}</foaf:lastName>
      <foaf:firstName>{{ contributor['first_name'] }}</foaf:firstName>
      {% if contributor['email'] %}
      <foaf:mbox rdf:resource="mailto:{{ contributor['email'] }}" />
      {% endif %}
      <schema:affiliation rdf:parseType="Resource">
        <foaf:name>{{ contributor['affiliation_name'] }}</foaf:name>
        <foaf:homepage rdf:resource="{{ contributor['affiliation_website'] }}" />
      </schema:affiliation>
    </dcterms:contributor>
    {% endfor %}
  </owl:Ontology>
</rdf:RDF>
