{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>
Dit vocabularium is ontwikkeld in voor het beschrijven van een systeem voor het melden van fouten en onvolledigheden in digitale gegevensbronnen en de opvolging ervan.
</p>	
{% endblock %}