{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>
Dit vocabularium is ontwikkeld in voor het beschrijven van notificaties in de context van de notificatiecomponent, een generieke bouwsteen van Informatie Vlaanderen.
</p>	
{% endblock %}