{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>
<strong>Basiskaart Vlaanderen</strong>
De Basiskaart Vlaanderen, ook gekend als het Grootschalig Referentiebestand (GRB) is sinds eind 2013 gebiedsdekkend en groeide sindsdien uit tot de topografische basisreferentie voor alle Vlaamse organisaties die met grootschalige basisgegevens omgaan. Het vormt het logische referentiebestand voor alle terreinbeherende instanties in Vlaanderen. Deze terreinbeherende instanties hebben nood aan een breed scala aan terrein-gerelateerde informatie (bomen, groenvoorzieningen, verhardingen, …).
</p>

<p>De Basiskaart Vlaanderen (GRB) bevat alleen informatie van goed definieerbare, conventioneel aanvaarde referentiegegevens waardoor deze terreinbeherende instanties noodgedwongen zelf inventarisaties moeten opzetten willen ze aan deze informatienood tegemoetkomen.</p>

<p>Informatie over de objecten die de overheid op haar openbaar domein liggen heeft vormt namelijk een belangrijke basis voor een objectieve beheerplanning en -opvolging die resulteren in kostenefficiëntie, kwaliteitsverbetering en een betere communicatie rond de dienstverlening op vlak van dit openbaar domein. Vandaag ontbreekt een geldend gemeenschappelijk gegevensmodel voor al deze objecten in het openbaar domein.</p>  

<p>
<strong>OLSO</strong>
Met het programma Open Standaarden voor Linkende Organisaties (OSLO)  zet de Vlaamse overheid in op een éénduidige standaarden voor de uitwisseling van informatie.
</p>

<p>
<strong>Thema openbaar domein binnen OSLO</strong>
Een nieuw thema dat binnen het OSLO²-programma wordt ontwikkeld is het thema Openbaar Domein. Om dit thema te ontwikkelen wordt een gloednieuw co-creatietraject georganiseerd in het voorjaar van 2018 onder de leiding van het OSLO²-team van Informatie Vlaanderen. Dit co-creatietraject moet uiteindelijk, door middel van een aantal interactieve sessies, leiden tot een gedragen, interoperabel domeinmodel voor het thema openbaar domein.</p>
{% endblock %}

{% block status %}
<p>Een lijst van de recentste vocabularia is terug te vinden op <a href="http://data.vlaanderen.be/ns">http://data.vlaanderen.be/ns</a></p>
<p>Dit document werd gepubliceerd als Ontwerpdocument. De specificatie zoals in dit document beschreven is in ontwikkeling. Bijgevolg kan dit document op elk moment aangepast, vervangen of achterhaald worden.<br/>
Dit document is bedoeld om uit te groeien tot een standaard in het beschreven domein. Desalniettemin heeft het op dit ogenblik geen officieel statuut en vertegenwoordigd het geen consensus binnen OSLO.</p>
<p>Feedback op deze specificatie kan gegeven worden via als een topic in onze <a href="https://github.com/Informatievlaanderen/OSLO-Public-Discussion">publieke reviewdiscussielijst</a>.</p>
{% endblock %}