{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>
Dit vocabularium is een uitbreiding op het <a href="http://data.vlaanderen.be/ns/dienst">OSLO-Dienst vocabularium</a>. Het definieert extra klassen en attributen voor het beschrijven van publieke dienstverlening in een transactionele context.
</p>	
{% endblock %}