<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" dir="ltr" typeof="bibo:Document " about="" property="dcterms:language" content="en" prefix="bibo: http://purl.org/ontology/bibo/ w3p: http://www.w3.org/2001/02pd/rec54#" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://dij151upo6vad.cloudfront.net/2.latest/css/vlaanderen-ui.css" />
    <link rel="stylesheet" href="https://dij151upo6vad.cloudfront.net/2.latest/css/vlaanderen-ui-corporate.css" />
    <link rel="stylesheet" href="https://dev.w3.org/2009/dap/ReSpec.js/css/respec.css" />

    <link rel="icon" sizes="192x192" href="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/icon-highres-precomposed.png" />
    <link rel="apple-touch-icon" href="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/touch-icon-iphone-precomposed.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/touch-icon-ipad-precomposed.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/touch-icon-iphone-retina-precomposed.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/touch-icon-ipad-retina-precomposed.png" />

    <meta name="msapplication-square70x70logo" content="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/tile-small.png" />
    <meta name="msapplication-square150x150logo" content="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/tile-medium.png" />
    <meta name="msapplication-wide310x150logo" content="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/tile-wide.png" />
    <meta name="msapplication-square310x310logo" content="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/tile-large.png" />
    <meta name="msapplication-TileColor" content="#FFE615" />

    <!--[if lt IE 9]><script src='https://www.w3.org/2008/site/js/html5shiv.js'></script><![endif]-->
  </head>
  <body class="h-entry" role="document" id="respecDocument">
    <div style="min-height:44px;;" id="vlaanderen-header">
    <!-- insert your global header here -->
    <script type="text/javascript" src="//widgets.vlaanderen.be/widget/live/5ecf33a0a922428cb9d944c55362ed15"></script>
    <!-- end global header-->
    </div>
    <div class="page">
    <div class="region">
        <div class="layout layout--normal">
            <div class="grid">
                <div class="col--9-12 col--1-1--s">
                    <div class="head" role="contentinfo" id="respecHeader">
                    <h1 property="dcterms:title" id="title" class="title p-name">{{ record['metadata']['title'] }}</h1>
                    <h2 id="subtitle" property="bibo:subtitle">Specification of <em>{{ record['metadata']['prefix'] }}</em></h2>
                    <h2 content="{{ record['metadata']['issued'] }}" datatype="xsd:dateTime" property="dcterms:issued" id="draft-{{ record['metadata']['issued'] }}">Released <time datetime="{{ record['metadata']['issued'] }}" class="dt-published">{{ record['metadata']['issued'] }}</time></h2>
                    <dl>
                        <dt>Latest Modification</dt>

                        <dd>{{ record['metadata']['modified'] }}
                        </dd>

                        <dt>Latest Version</dt>

                        <dd><a href="{{ record['metadata']['uri'] }}">{{ record['metadata']['uri'] }}</a>
                        </dd>


                        {% if record['makers'] %}
                        <dt>Authors:</dt>
                        {% set makers = record['makers']['list'].split(",") %}
                        {% for maker in makers %}
                        <dd inlist="" rel="bibo:editor" class="p-author h-card vcard">
                            <span typeof="foaf:Person">
                            {% if record['maker:'+maker]['mhomepage'] %}
                            <span class="p-name fn" property="foaf:name"><a href="{{ record['maker:'+maker]['mhomepage'] }}">{{ record['maker:'+maker]['mname'] }}</a></span>
                            {% else %}
                            <span class="p-name fn" property="foaf:name">{{ record['maker:'+maker]['mname'] }}</span>
                            {% endif %}
                            {% if record['maker:'+maker]['aname'] %}
                            - <a href="{{ record['maker:'+maker]['ahomepage'] }}" class="p-org org h-org h-card" rel="foaf:workplaceHomepage">{{ record['maker:'+maker]['aname'] }}</a>
                            {% endif %}
                            {% if record['maker:'+maker]['mmbox'] %}
                            - <span class="ed_mailto"><a href="{{ record['maker:'+maker]['mmbox'] }}" rel="foaf:mbox" class="u-email email">{{ record['maker:'+maker]['mmbox'].replace("mailto:","") }}</a></span>
                            {% endif %}
                            </span>
                        </dd>
                        {% endfor %}
                        {% endif %}


                        {% if record['editors'] %}
                        <dt>Editors:</dt>
                        {% set editors = record['editors']['list'].split(",") %}
                        {% for editor in editors %}
                        <dd inlist="" rel="bibo:editor" class="p-author h-card vcard">
                            <span typeof="foaf:Person">

                            {% if record['editor:'+editor]['mhomepage'] %}
                            <span class="p-name fn" property="foaf:name"><a href="{{ record['editor:'+editor]['mhomepage'] }}">{{ record['editor:'+editor]['mname'] }}</a></span>
                            {% else %}
                            <span class="p-name fn" property="foaf:name">{{ record['editor:'+editor]['mname'] }}</span>
                            {% endif %}
                            {% if record['editor:'+editor]['aname'] %}
                            - <a href="{{ record['editor:'+editor]['ahomepage'] }}" class="p-org org h-org h-card" rel="foaf:workplaceHomepage">{{ record['editor:'+editor]['aname'] }}</a>
                            {% endif %}
                            {% if record['editor:'+editor]['mmbox'] %}
                            - <span class="ed_mailto"><a href="{{ record['editor:'+editor]['mmbox'] }}" rel="foaf:mbox" class="u-email email">{{ record['editor:'+editor]['mmbox'].replace("mailto:","") }}</a></span>
                            {% endif %}
                            </span>
                        </dd>
                        {% endfor %}
                        {% endif %}


                        {% if record['contributors'] %}
                        <dt>Contributors:</dt>
                        {% set contributors = record['contributors']['list'].split(",") %}
                        {% for contributor in contributors %}
                        <dd inlist="" rel="dcterms:contributor" class="p-author h-card vcard">
                            <span typeof="foaf:Person">
                            {% if record['contributor:'+contributor]['mhomepage'] %}
                            <span class="p-name fn" property="foaf:name"><a href="{{ record['contributor:'+contributor]['mhomepage'] }}">{{ record['contributor:'+contributor]['mname'] }}</a></span>
                            {% else %}
                            <span class="p-name fn" property="foaf:name">{{ record['contributor:'+contributor]['mname'] }}</span>
                            {% endif %}
                            {% if record['contributor:'+contributor]['aname'] %}
                            - <a href="{{ record['contributor:'+contributor]['ahomepage'] }}" class="p-org org h-org h-card" rel="foaf:workplaceHomepage">{{ record['contributor:'+contributor]['aname'] }}</a>
                            {% endif %}
                            {% if record['contributor:'+contributor]['mmbox'] %}
                            - <span class="ed_mailto"><a href="{{ record['contributor:'+contributor]['mmbox'] }}" rel="foaf:mbox" class="u-email email">{{ record['contributor:'+contributor]['mmbox'].replace("mailto:","") }}</a></span>
                            {% endif %}
                            </span>
                        </dd>
                        {% endfor %}
                        {% endif %}
                    </dl>

                    <p class="copyright">{{ record['metadata']['rights'] }}</p>


                    </div>
                </div>
                <hr />
             </div>
        </div>
    </div>

    <div id="main" itemprop="mainContentOfPage" role="main" tabindex="-1" class="main-content">
    <div class="region region--no-space-top">
      <div class="layout layout--normal">
        <section id="abstract" class="introductory" property="dcterms:abstract" datatype="" typeof="bibo:Chapter" resource="#ref" rel="bibo:Chapter">
        <h2 aria-level="1" role="heading" id="h2_abstract">Abstract</h2>
        <p>
        {{ record['metadata']['abstract'] }}
        </p>
        </section>
      </div>
    </div>

    <div class="region region--no-space-top">
    <div class="layout layout--normal">
    <section class="introductory" id="sotd" typeof="bibo:Chapter" resource="#ref" rel="bibo:Chapter">

    <h2 aria-level="1" role="heading" id="h2_sotd">Status of This Document</h2>
    <p><em>This section describes the status of this document at the time of its publication. Other documents may supersede it.</em></p>
    <p>
      This document is an official vocabulary specification.
      The purpose of this document is to clarify the definition, use, domain and range of the RDF terms within this domain.
    </p>
    {% if record['metadata']['comment'] %}
    <p>
    {{ record['metadata']['comment'] }}
    </p>
    {% endif %}
    {% if record['metadata']['mname'] %}
    <p>
    This is a new version by the <a href="{{ record['metadata']['mhomepage'] }}">{{ record['metadata']['mname'] }}</a>.
    Comments and queries should be sent to that group via the <a href="{{ record['metadata']['mmbox'] }}">mailing list</a>.
    Terms defined here may be deprecated by that or future groups; but will not disappear or their definitions change other than to provide clarification of an existing definition.
    </p>
    {% endif %}
    </section>

    </div>
    </div>

    <div class="region region--no-space-top">
    <div class="layout layout--normal">
    <section typeof="bibo:Chapter" resource="#ref" rel="bibo:Chapter" id="license-and-liability">

    <h2 id="licenseandliability" aria-level="1" role="heading"><span class="secno">1. </span>License and Liability</h2>

    <p><span rel="dct:type" property="dct:title" href="http://purl.org/dc/dcmitype/Text" xmlns:dct="http://purl.org/dc/terms/">This vocabulary</span> hosted by <a rel="cc:attributionURL" property="cc:attributionName" href="http://vlaanderen.be/informatievlaanderen" xmlns:cc="http://creativecommons.org/ns#">Informatie Vlaanderen</a> is licensed under a <a href="https://overheid.vlaanderen.be/sites/default/files/documenten/ict-egov/licenties/hergebruik/modellicentie_gratis_hergebruik_v1_0.html" rel="license">"Modellicentie Gratis Hergebruik - v1.0"</a>.<br /></p>
    </section>
    </div>
    </div>

    <div class="region region--no-space-top">
    <div class="layout layout--normal">
    <section typeof="bibo:Chapter" resource="#ref" rel="bibo:Chapter" id="conformance-statement">

    <h2 id="conformance" aria-level="1" role="heading"><span class="secno">2. </span>Conformance</h2>

    <p>A conformant implementation of this vocabulary <em class="rfc2119" title="MUST">MUST</em> understand all vocabulary terms defined in this document.</p>

    </section>
    </div>
    </div>

    <div class="region region--no-space-top">
    <div class="layout layout--normal">


    <section typeof="bibo:Chapter" resource="#ref" rel="bibo:Chapter" id="overview">

    <h2 id="overview" aria-level="1" role="heading"><span class="secno">3. </span>Overview</h2>

    <div class="region region--no-space-top">
    <p>This section lists all classes and properties in the vocabulary.</p>
    <p>
    {% if record['subproperties'] or record['subclasses'] %}
    Furthermore, this vocabulary refers to terms from the following vocabularies:
    {% if record['subproperties'] and record['subclasses'] %}
        {% set termen = (record['subproperties']['list']+','+record['subclasses']['list']).split(',') %}
    {% elif record['subproperties'] and not record['subclasses'] %}
        {% set termen = record['subproperties']['list'].split(',') %}
    {% elif not record['subproperties'] and record['subclasses'] %}
        {% set termen = record['subclasses']['list'].split(',') %}
    {% endif %}
    <ul>
    {% for term in termen %}
    <li><a href="{{ term }}">{{ term }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
    </p>
    </div>

    <div class="region region--no-space-top">
    <h3>Classes</h3>
    {% set classes = record['glance']['classes'].split(",") %}
    {% set class_uris = record['glance']['class_uris'].split(",") %}
    <div class="grid">
    <div class="col--1-12 col--1-1--s" />
    <div class="col--8-12 col--1-1--s">
    <dl>
        {% for class in classes %}
        <dd><a href="#{{ class_uris[loop.index - 1] }}" rel="class">{{ class }}</a></dd>
        {% endfor %}
    </dl>
    </div>
    </div>
    </div>

    <div class="region region--no-space-top">
    <h3>Properties</h3>
    {% set props = record['glance']['properties'].split(",") %}
    {% set prop_uris = record['glance']['prop_uris'].split(",") %}
    <div class="grid">
    <div class="col--1-12 col--1-1--s" />
    <div class="col--8-12 col--1-1--s">
    <dl>
        {% for prop in props %}
        <dd><a href="#{{ prop_uris[loop.index - 1] }}" rel="property">{{ prop }}</a></dd>
        {% endfor %}
    </dl>
    </div>
    </div>
    </div>

    </section>

    </div>
    </div>

    <div class="region region--no-space-top">
    <div class="layout layout--normal">

    <section typeof="bibo:Chapter" resource="#ref" rel="bibo:Chapter" id="classes">

    <h2 id="classes" aria-level="1" role="heading"><span class="secno">4. </span>Classes</h2>
    <div class="region region--no-space-top">
    <p>This section provides the formal definition of each class in the vocabulary.</p>
    </div>
    {% set class_uris = record['glance']['class_uris'].split(",") %}
    {% for class_uri in class_uris %}
    {% set klasse = record['class:'+class_uri] %}
    <div class="region region--no-space-top">
    <h3 id="{{ class_uri }}">Class <em>{{ klasse['label'] }}</em></h3>

    <table class="definition">
        <tbody>
          <tr>
            <th>Type of Term</th>
            <td>Class</td>
          </tr>
          {% if klasse['identifier'] %}
          <tr>
            <th>QName</th>
            <td><code>{{ klasse['identifier'] }}</code></td>
          </tr>
          {% endif %}
          <tr>
            <th>URI</th>
            <td><code>{{ class_uri }}</code></td>
          </tr>
          <tr>
            <th>Definition</th>
            <td>{{ klasse['comment'] }}</td>
          </tr>
          {% if klasse['usageNote'] %}
          <tr>
            <th>
              <p>Usage Note</p>
            </th>
            <td>{{ klasse['usageNote'] }}</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
      </div>
      {% endfor %}

    </section>

    </div>
    </div>

    <div class="region region--no-space-top">
    <div class="layout layout--normal">

    <section typeof="bibo:Chapter" resource="#ref" rel="bibo:Chapter" id="properties">

    <h2 id="properties" aria-level="1" role="heading"><span class="secno">5. </span>Properties</h2>

    <div class="region region--no-space-top">
    <p>This section provides the formal definition of each property in the vocabulary.</p>
    </div>

    {% set prop_uris = record['glance']['prop_uris'].split(",") %}
    {% for prop_uri in prop_uris %}
    {% set eigenschap = record['property:'+prop_uri] %}
    <div class="region region--no-space-top">
    <h3 id="{{ prop_uri }}">Property <em>{{  eigenschap['label'] }}</em></h3>

    <table class="definition">
        <tbody>
          <tr>
            <th>Type of Term</th>
            <td>Property</td>
          </tr>
          {% if eigenschap['identifier'] %}
          <tr>
            <th>QName</th>
            <td><code>{{ eigenschap['identifier'] }}</code></td>
          </tr>
          {% endif %}
          <tr>
            <th>URI</th>
            <td><code>{{ prop_uri }}</code></td>
          </tr>
          {% if eigenschap['domain'] %}
          <tr>
            <th>Domain</th>
            <td><code>{{ eigenschap['domain'] }}</code></td>
          </tr>
          {% endif %}
          {% if eigenschap['range'] %}
          <tr>
            <th>Range</th>
            <td><code>{{ eigenschap['range'] }}</code></td>
          </tr>
          {% endif %}
          <tr>
            <th>Definition</th>
            <td>{{ eigenschap['comment'] }}</td>
          </tr>
          {% if eigenschap['usageNote'] %}
          <tr>
            <th>Usage Note</th>
            <td>{{ eigenschap['usageNote'] }}</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
      </div>
      {% endfor %}

    </section>

    </div>
    </div>

    </div>
    </div>

    <div id="vlaanderen-footer">
        <!-- insert your Vlaanderen-footer-code here -->
        <script type="text/javascript" src="//widgets.vlaanderen.be/widget/live/d6d44414e7c242f396ab6da8f8da5198"></script>
        <!-- End global footer-->
    </div>

    <script src="https://dij151upo6vad.cloudfront.net/2.latest/js/vlaanderen-ui.js" />

    <style>
        /* Style for an Unofficial Draft Proposal */

        /*
        Copyright 1997-2003 W3C (MIT, ERCIM, Keio). All Rights Reserved.
        The following software licensing rules apply:
        http://www.w3.org/Consortium/Legal/copyright-software */


        body {
        padding: 2em 1em 2em 70px;
        margin: 0;
        color: black;
        background: white;
        background-position: top left;
        background-attachment: fixed;
        background-repeat: no-repeat;
        }
        :link { color: #00C; background: transparent }
        :visited { color: #609; background: transparent }
        a:active { color: #C00; background: transparent }

        a:link img, a:visited img { border-style: none } /* no border on img links */

        a img { color: white; }        /* trick to hide the border in Netscape 4 */
        @media all {                   /* hide the next rule from Netscape 4 */
        a img { color: inherit; }    /* undo the color change above */
        }

        th, td { /* ns 4 */

        }

        h1, h2, h3, h4, h5, h6 { text-align: left }
        /* background should be transparent, but WebTV has a bug */
        h1, h2, h3 { color: #005A9C; }
        h1 { font-size: 170% }
        h2 { font-size: 140% }
        h3 { font-size: 120% }
        h4 { font: bold 100% }
        h5 { font: italic 100% }
        h6 { font: small-caps 100% }

        .hide { display: none }

        div.head { margin-bottom: 1em }
        div.head h1 { margin-top: 2em; clear: both }
        div.head table { margin-left: 2em; margin-top: 2em }

        p.copyright { font-size: small }
        p.copyright small { font-size: small }

        em {
            font-style: italic;
        }

        table {
            font-size:12px;
            color:#333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
            margin-top: 2em;
            width: 62%;
        }
        table th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }
        table td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }

        @media screen {  /* hide from IE3 */
        a[href]:hover { background: #ffa }
        }

        pre { margin-left: 2em }
        /*
        p {
        margin-top: 0.6em;
        margin-bottom: 0.6em;
        }
        */
        dt, dd { margin-top: 0; margin-bottom: 0 } /* opera 3.50 */
        dt { font-weight: bold }

        pre, code { font-family: monospace } /* navigator 4 requires this */

        ul.toc, ol.toc {
        list-style: disc;		/* Mac NS has problem with 'none' */
        list-style: none;
        }

        @media aural {
        h1, h2, h3 { stress: 20; richness: 90 }
        .hide { speak: none }
        p.copyright { volume: x-soft; speech-rate: x-fast }
        dt { pause-before: 63ms }
        pre { speak-punctuation: code }
        }

        .content {
        background-image: url(http://www.w3.org/StyleSheets/TR/watermark-unoffficial.png);
        background-repeat: repeat;
        background-attachment: fixed;
        }

        .disclaimer {
        font-weight: bold;
        font-style: italic;
        color: red;
        }

        .diff-new {
        background-color: yellow;
        }
        .diff-chg {
        background-color: lime;
        }
        .diff-new:before,
        .diff-new:after {
        content: "\2191";
        }
        .diff-chg:before,
        .diff-chg:after {
        content: "\2195";
        }
        .diff-old {
        text-decoration: line-through;
        background-color: #FBB;
        }
        .diff-old:before,
        .diff-old:after {
        content: "\2193";
        }
    </style>
    <style>
      table tr:first-child {
          font-weight:bold;
      }

      tr:nth-child(even) td     { background-color:#eee; }

      img {
         width: 100%;
      }
      img.cc {
         width: 88px;
      }
    </style>
  </body>
</html>